<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <title>{% block title %}
     FESA
   {% endblock %}</title>
  <style>
  html,body{
    width:100%;
    height:100%;
  }
  input,
  select,
  textarea {
      max-width: 400px;
      
  }
  textarea {
      max-height: 100px;
      
  }
  .form-horizontal .control-label {
    text-align: left;
    
  }
    .navbar-inverse{
      width:100%;
    }
  </style>
</head>

<body>  
<header>
    <nav class=" navbar-inverse">
      <div class="container-fluid">          
        <ul class="nav navbar-nav">
          <li class="active"><a href=".">Accueil</a></li>
          <li><a href="offres">Offres</a></li>
          <li><a href="#">Demandes</a></li>
          <li><a href="#">Nous Contacter</a></li>
          <li><a href="#">Sondage</a></li>

          <li><a href="annonce">Deposer une annonce</a></li>
        </ul>
      </div>
     </nav>
    
</header>
  {% block login %}
    {% if user.is_authenticated %} 
          <ul class="nav navbar-nav ">
            <li> Vous êtes connecté, {{ user.username }} <a href="deconnexion"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul> 
    {% else %}

      <ul class="nav navbar-nav">
        <li><a href="inscription"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="connexion"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
     {% endif %}
   {% endblock %}
  {% block first %}
    <div class="container">
        <p align='center'>
           Plateforme d'entraide entre particuliers
           <h2 align='center'>
            FESA POUR MOI !!
           </h2>
       </p>
     </div>
 {% endblock %}
 {% block content %}
  
  {% endblock %}
</body>
<footer class="navbar-inverse navbar-fixed-bottom">&copy; FESA 2017/2018</footer>
</html>
